.main {
    width: 100%;
    height: 99vh;
    display: flex;
}
.left {
    width: 50%;
    padding: 5%;
    text-align: left;
    align-items: left;
    /* border: 1px solid black; */
}
.left > h1 {
    font-size: 52px;
}
.left > p {
    font-size: 23px;
    color: grey;
    /* margin-top: -10px; */
    margin-bottom: 10px;
}
.searchBar {
    width: 80%;
    height: 50px;
    font-size: 16px;
    margin: auto;
    border: 1px solid grey;
}
.left > button {
    width: 17%;
    height: 52px;
    background-color: rgb(255, 113, 19);
    cursor: pointer;
    color: white;
    font-weight: 800;
    border: none;
    /* border: 1px solid grey; */
}
.left > img {
    opacity: 1;
}
.right {
    width: 48%;
    margin-top: -10px;
    /* border: 1px solid black; */
}

.icons {
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.icons > div {
    width: 100px;
    height: 100px;
    text-align: center;
    color: rgb(0, 25, 53);
    border-radius: 50%;
    background-color: rgb(193, 206, 221);
}
.icons > div > p {
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.icons > div:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.hover {
    margin-top: 30px;
    color: white;
    font-size: 40px;
    font-weight: 800;
}
